<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-os-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>OsShareCommon</name>
<js-module name="OsShareCommon" src="www/OsShareCommon.js">
<clobbers target="cordova.plugins.OsShareCommon" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="OsShareCommon">
<param name="android-package" value="singh.push.share.OsShareCommon" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml" />
<source-file src="src/android/OsShareCommon.java" target-dir="src/cordova-os-plugin/OsShareCommon" />
</platform>
<platform name="ios">
<config-file parent="/*" target="config.xml">
<feature name="OsShareCommon">
<param name="ios-package" value="OsShareCommon" />
</feature>
</config-file>
<source-file src="src/ios/OsShareCommon.m" />
</platform>
</plugin>